.tokenList {
  margin: auto; /* Center the component */
}

.tokenList ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.tokenList li {
  display: flex; /* Flexbox for alignment */
  justify-content: space-between; /* Space between name and symbol */
  padding: 0.5rem 0; /* Vertical padding for list items */
  border-bottom: 1px solid #e0e0e0; /* Light border for separation */
  font-size: 1rem; /* Consistent font size */
  color: #333; /* Dark text for readability */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.token-list-divider {
  display: flex;
  width: 100%; /* Ensure divider spans the width */
  height: 1px; /* Set height for horizontal divider */
  background-color: #e0e0e0; /* Set background color for horizontal divider */
  margin: 0.5rem 0; /* Add margin for spacing */
  opacity: 0.1;
}


.tokenList li:last-child {
  border-bottom: none; /* Remove border from last item */
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  max-width: 600px; /* Responsive max width */
  margin: auto; /* Center the pagination */
}

.pagination button {
  background-color: #0070f3; /* Primary button color */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding for buttons */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.pagination button:hover {
  background-color: #005bb5; /* Darker shade on hover */
}

.pagination button:disabled {
  background-color: #e0e0e0; /* Disabled button color */
  cursor: not-allowed; /* Not-allowed cursor */
}